numpy
matplotlib
Pillow
easydict
opencv-contrib-python
opencv-python
pandas
PyYAML
scikit-image
scikit-learn
scipy
seaborn
tensorboard
tensorboardX # 问题
# torch
# torchvision
tqdm
xmltodict
basetrainer
pybaseutils